*{
    padding: 0;
    margin: 0;
    list-style: none;
}

/*導覽列*/
.main-header{
    background-color: #87bbb6;
}
.main-header .container{
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
}
/*導覽列_右區域*/
.main-header .container .right{
    position:absolute;
    right:10px;
    display: flex;
}
/*導覽列_左區域*/
.main-header .container .left{
    display: flex;
}
.main-header label img {
    margin:16px 20px 0 20px;
    height: 20px;
}
.main-header .vertical img {
    height: 50px;
    margin: 0  20px 0 10px;
}
.main-header .logo img{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.main-header .icon,.main-header .icon2 {
    display: flex;
}
.main-header .icon img,.main-header .icon2 img{
    margin: 0 10px 0 0px;
    width: 40px;
    height:40px;
}
#about_us{
    text-decoration: none;
    color: #fff;
    padding: 15px 10px 0 10px;
}
.main-header .right  p{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px 0 10px;
}
.main-header .header_search {
    display: flex;
    margin: 7px 50px 0 0px;
}
.main-header .header_search button{
    border: none;
    background-color: #fff;
    padding: 0px 10px 0 10px;
    width: 50px;
    height: 25px;
    margin: 7px 0px 0 0px;  
}
.main-header .header_search i{
    color: #87bbb6;
}
.main-header .header_search input{
    border: none;
    background-color: #fff;
    padding: 0px 0 0 20px;
    width: 500px;
    height: 25px;
    margin: 7px 0px 0 0px;
}
.main-header .header_search button:focus{
    outline: none;
    padding:  0px 10px 0 10px ;
}
.main-header .header_search input:focus{
    outline: none;
    padding:  0px 10px 0 20px ;
}
.main-header .header_search button{
    border-radius: 0 150px 150px 0;
    border-left: 2px dashed #87bbb6;  
}
.main-header .header_search input{
    border-radius:  150px 0 0 150px ;
}

/*close*/
.overlay {
    visibility: hidden;
    position: absolute;
    background: #87bbb6;
    width: 100%;
    opacity: 0;
    transition: opacity 0.35s,height 0.35s;         
}
.overlay .overlay_text{
    display: none;
}
/*open*/
.overlay.open {
    opacity: 0.7;
    visibility: visible;
    height: 89.5%;  
}
.overlay.open .overlay_text{
    width: 400px;
    height: 400px;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left:-200px;
    margin-top:-200px;
}
.overlay.open .overlay_text h1{
    color: #fff;
    font-size: 52px;
    text-align: center;
}
.overlay.open .overlay_text h3{
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin: 20px 0 10px 0;
}
.overlay.open .overlay_text p{
    color: #fff;
    font-size: 18px;
    text-align: left;
    display: flex;
    margin: 10px 0 5px 0;
}
.overlay.open .overlay_text a img{
    width: 25px;
    height: 25px;
    background-color: #fff;
    margin: 10px;
}
.overlay.open .overlay_text input{
    width: 390px;
    height: 25px;
}
.overlay.open .overlay_text button{
    margin: 20px 50px 0 70px;
    width: 125px;
    height: 31px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
}
.overlay.open .overlay_text a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration:none;
}
.overlay.open .overlay_text a:hover{
    color:rgb(8, 0, 255);
    transition: .5s;
}


/*側邊選單_區域外*/
.side-menu{
    position: relative;
    width: 400px;
    height: 640px;
    border-radius: 0 320px 320px 0;
    margin: 0;
    background-color: #87bbb6;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 4px 10px hsla(240,40%,15%,0.6);
    transform: translateX(-100%);
    transition: .3s;
}
/*check_box*/
#side-menu-switch{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/*側邊選單_區域內*/
#side-menu-switch:checked + .side-menu{
    transform: translateX(0%);
}
.side-menu label{
    position: absolute;
    width: 40px;
    height: 80px;
    color: #fff;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    border-radius:  0 10px 10px 0 ;
}
.side-menu input{
    display: block;
    margin: 90px 0px 0px 50px ;
    height: 25px;
    width: 150px;
    border-radius: 10px;
    padding:  0px 10px 0 10px ;
    font-size: 13px;
    border: none;
}
.side-menu input:focus{
    outline: none;
    padding:  0px 10px 0 10px ;
}
.side-menu form input{
    display: block;
    height: 25px;
    width: 200px;
    font-size: 14px;
    margin: 25px 0px 0px 50px ;
    color: #fff;
}
#點點{
    height: 30px;
    width: 7px;
    margin: 30px 0px 0px 130px;
}
#submit{
    display: block;
    height: 30px;
    width: 70px;
    font-size: 18px;
    margin: 25px 0px 0px 100px;
    color: black;
}
#下箭頭{
    color:#fff;
    font-size: 40px;
    margin: 40px 0px 0px 120px;
}
/*RWD*/
@media screen and (max-width: 960px) {
    /*隱藏*/
    .main-header .header_search,
    .main-header .header_search button,
    .main-header .container .left p,
    .main-header .container .right p,
     .side-menu label,
    .side-menu input,
    .side-menu form input,
    #點點,
    #submit,
    #下箭頭{
        display: none;
    }
    /*側邊選單_區域外*/
    .side-menu{
        position: relative;
        width: 100%;
        height: 500px;
        margin: 0;
        background-color: #87bbb6;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        transform: translateY(-200%);
        transition: .3s;
        border-radius:0;
    }
    /*側邊選單_區域內(向下彈出顯示)*/
    #side-menu-switch:checked + .side-menu{
        transform: translateY(0%);
    }
}

