*{
    padding: 0;
    margin: 0;
    list-style: none;
}

/**/
.main-header{
    background-color: #87bbb6;
}
.main-header .container{
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
}
.main-header .container .right{
    position:absolute;
    right:10px;
    display: flex;
}
.main-header .container .left{
    display: flex;
}
.main-header label img {
    margin:16px 20px 0 20px;
    height: 20px;
}
.main-header .vertical img {
    height: 50px;
    margin: 0  20px 0 10px;
}
.main-header .logo img{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.main-header .icon img,.main-header .icon1 img{
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
}
.main-header .left  p{
    text-decoration: none;
    color: #fff;
    padding: 15px 10px 0 10px;
}
.main-header .right  p{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px 0 10px;
}
.main-header .header_search {
    display: flex;
    margin: 7px 50px 0 0px;
}
.main-header .header_search button{
    border: none;
    background-color: #fff;
    padding: 1px 10px 0 10px;
    width: 50px;
    height: 25px;
    margin: 7px 0px 0 0px;  
}
.main-header .header_search i{
    color: #87bbb6;
}
.main-header .header_search input{
    border: none;
    background-color: #fff;
    padding: 1px 0 0 20px;
    width: 500px;
    height: 25px;
    margin: 7px 0px 0 0px;
}
.main-header .header_search button:focus{
    outline: none;
    padding:  1px 10px 0 10px ;
}
.main-header .header_search input:focus{
    outline: none;
    padding:  1px 10px 0 20px ;
}
.main-header .header_search button{
    border-radius: 0 150px 150px 0;
    border-left: 2px dashed #87bbb6;
    
    
}
.main-header .header_search input{
    border-radius:  150px 0 0 150px ;
}

/**/
.overlay {
    visibility: hidden;
    position: absolute;
    background: #87bbb6;
    width: 100%;
    opacity: 0;
    transition: opacity 0.35s,height 0.35s;         
}
.overlay.open {
    opacity: 0.5;
    visibility: visible;
    height: 80%;   
}
.overlay.open .overlay_text{
    color: #fff;
    padding: 0 600px 0 550px;/**/ 
}
.overlay.open .overlay_text h1{
    text-align: center;
    font-size: 52px;
    margin: 100px 0 40px 0;
}
.overlay.open .overlay_text h3{
    font-size: 24px;
    margin: 30px 0px 10px 0px;
}
.overlay.open .overlay_text input{
    width: 400px;
    height: 30px; 
}
.overlay.open .overlay_text button{
    margin: 30px 0 0 0;
    width: 125px;
    height: 31px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
}

/**/
.side-menu{
    position: relative;
    width: 400px;
    height: 650px;
    border-radius: 0 320px 320px 0;
    margin: 0;
    background-color: #87bbb6;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 0 10px hsla(240,40%,15%,0.6);
    transform: translateX(-100%);
    transition: .3s;
}
#side-menu-switch{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#side-menu-switch:checked + .side-menu{
    transform: translateX(0%);
}
.side-menu label{
    position: absolute;
    width: 40px;
    height: 80px;
    color: #fff;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    border-radius:  0 10px 10px 0 ;
}
.side-menu input{
    display: block;
    margin: 10px;
    line-height:  20px;
    height: 20px;
}


/*rwd*/
/*1048*/
@media screen and (max-width: 1048px) {
    .main-header .right  p,
    .main-header .left  p,
    .main-header .logo img,
    .main-header .icon1 img,
    .main-header .header_search,
    .main-header .header_search button{
        display: none;
    }
    
}
/*900*/
@media screen and (max-width: 900px) {
    .main-header .right  p,
    .main-header .left  p,
    .main-header .logo img,
    .main-header .icon1 img,
    .main-header .header_search,
    .main-header .header_search button{
        display: none;
    }
    
}
/*769*/
@media screen and (max-width: 769px) {
    .main-header .right  p,
    .main-header .left  p,
    .main-header .logo img,
    .main-header .icon1 img,
    .main-header .header_search,
    .main-header .header_search button{
        display: none;
    }
    
}

